@model Item
@{
    ViewData["Title"] = "Edit";
}

<h2>Edición de artículo @Model.Code</h2>
<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id"/>

        <label asp-for="Code"></label><br />
        <input type="text" asp-for="Code"/><br />
        <span asp-validation-for="Code"></span>

        <label asp-for="Description"></label><br />
        <input type="text" asp-for="Description"/><br />
        <span asp-validation-for="Description"></span>

        <label asp-for="Price"></label><br />
        <input type="number" asp-for="Price" step="0.01"/><br />
        <span asp-validation-for="Price"></span>

        <label asp-for="TaxPercentaje"></label><br />
        <input type="number" asp-for="TaxPercentaje"/><br />
        <span asp-validation-for="TaxPercentaje"></span>

        <label asp-for="Status"></label><br />
        <input type="checkbox" asp-for="Status"/><br />
        <span asp-validation-for="Status"></span>

        <input class="submit-button" type="submit" value="Guardar"/>
    </form>
</div>