@model Item
@{
    ViewData["Title"] = "Edit";
}

<h1>Edición de artículo @Model.Code</h1>
<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id"/>

        <label asp-for="Code"></label>
        <input type="text" asp-for="Code"/>
        <span asp-validation-for="Code"></span>

        <label asp-for="Description"></label>
        <input type="text" asp-for="Description"/>
        <span asp-validation-for="Description"></span>

        <label asp-for="Price"></label>
        <input type="number" asp-for="Price"/>
        <span asp-validation-for="Price"></span>

        <label asp-for="TaxPercentaje"></label>
        <input type="number" asp-for="TaxPercentaje"/>
        <span asp-validation-for="TaxPercentaje"></span>

        <label asp-for="Status"></label>
        <input type="checkbox" asp-for="Status"/>
        <span asp-validation-for="Status"></span>

        <input type="submit" value="Guardar"/>
    </form>
</div>