@model Pos
@{
    ViewData["Title"] = "Crear caja";
}

<div>
    <div>
        <h1>Registra una nueva caja</h1>
    </div>
    <div>
        <form asp-action="Create">
            <label asp-for="Code"></label><br />
            <input asp-for="Code" placeholder="Código" required /><br />
            <span asp-validation-for="Code"></span>

            <label asp-for="Name"></label><br />
            <input asp-for="Name" placeholder="Nombre" required /><br />
            <span asp-validation-for="Name"></span>

            <label asp-for="Warehouse.Code"></label><br />
            <input asp-for="Warehouse.Code" placeholder="Código de almacén" required /><br />
            <span asp-validation-for="Warehouse.Code"></span>

            <input class="submit-button" type="submit" value="Guardar" />
        </form>
    </div>
</div>

