@model Pos

@{
    ViewData["Title"] = "Editar caja";
}

<h2>Edición de caja @Model.Name</h2>
<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id"/>

        <label asp-for="Code"></label><br />
        <input type="text" asp-for="Code"/><br />
        <span asp-validation-for="Code"></span>

        <label asp-for="Name"></label><br />
        <input type="text" asp-for="Name"/><br />
        <span asp-validation-for="Name"></span>

        <label asp-for="Status"></label><br />
        <input type="checkbox" asp-for="Status"/><br />
        <span asp-validation-for="Status"></span>

        <label asp-for="Warehouse.Code"></label><br />
        <input type="text" asp-for="Warehouse.Code"/><br />
        <span asp-validation-for="Warehouse.Code"></span>

        <input class="submit-button" type="submit" value="Guardar"/>
    </form>
</div>