@{
    ViewData["Title"] = "Repos Retail - Inicio";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h1>Panel de administración</h1>
    <h2>¿Qué deseas configurar?</h2>
    
    
    <div class="box-selection">
        <div class="box-selection-image"><img src="~/content/images/business-white.png" /></div>
        <div class="box-selection-link"><a asp-controller="Company" asp-action="Index">Empresa</a></div>
    </div>

    <div class="box-selection">
        <div class="box-selection-image"><img src="~/content/images/store-white.png"/></div>
        <div class="box-selection-link"><a asp-controller="Store" asp-action="Index">Sucursal</a></div>
    </div>

    <div class="box-selection">
        <div class="box-selection-image"><img src="~/content/images/warehouse-white.png"/></div>
        <div class="box-selection-link"><a asp-controller="Warehouse" asp-action="Index">Almacén</a></div>
    </div>

    <div class="box-selection">
        <div class="box-selection-image"><img src="~/content/images/cashier-white.png"/></div>
        <div class="box-selection-link"><a asp-controller="Pos" asp-action="Index">Caja</a></div>
    </div>

    <div class="box-selection">
        <div class="box-selection-image"><img src="~/content/images/item-white.png"/></div>
        <div class="box-selection-link"><a asp-controller="Item" asp-action="Index">Artículo</a></div>
    </div>

    <div class="box-selection">
        <div class="box-selection-image"><img src="~/content/images/inventory-white.png"/></div>
        <div class="box-selection-link"><a asp-controller="Item" asp-action="GetInventory">Inventario</a></div>
    </div>
</div>
