@{
    ViewData["Title"] = "Repos Retail";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h1>Panel de administración</h1>
    <h2>¿Qué deseas configurar?</h2>
    
    
    <div class="box-selection">
        <a asp-controller="Company" asp-action="Index">Empresa</a>
    </div>

    <div class="box-selection">
        <a asp-controller="Store" asp-action="Index">Sucursal</a>
    </div>

    <div class="box-selection">
        <a asp-controller="Home" asp-action="Index">Almacén</a>
    </div>

    <div class="box-selection">
        <a asp-controller="Home" asp-action="Index">Caja</a>
    </div>
</div>
