@model Company
@{
    ViewData["Title"] = "Edit";
}

<h2>Edición de empresa @Model.Name</h2>
<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id"/>

        <label asp-for="Code"></label><br />    
        <input type="text" asp-for="Code" placeholder="Código"/><br />
        <span asp-validation-for="Code"></span>
        
        <label asp-for="Name"></label><br />
        <input type="text" asp-for="Name" placeholder="Nombre"/><br />
        <span asp-validation-for="Name"></span>
        
        <label asp-for="Status"></label><br />
        <input class="checkbox" type="checkbox" asp-for="Status" placeholder="Estatus"/><br />
        <span asp-validation-for="Status"></span>
        
        <input class="submit-button" type="submit" value="Guardar"/>
    </form>
</div>
