@model Warehouse
@{
    ViewData["Title"] = "Edit";
}

<h1>Edición de almacén @Model.Name</h1>
<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <label asp-for="Code"></label>
        <input type="Text" asp-for="Code" />
        <span asp-validation-for="Code"></span>

        <label asp-for="Name"></label>
        <input type="Text" asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <label asp-for="Address"></label>
        <input type="Text" asp-for="Address" />
        <span asp-validation-for="Address"></span>

        <label asp-for="Status"></label>
        <input type="Text" asp-for="Status" />
        <span asp-validation-for="Status"></span>

        <input type="submit" value="Guardar"/>
    </form>
</div>