body {
    font-family: 'Baloo Paaji 2', cursive;
    background-color: #f0f1f4;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    font-weight: 300;
}

h3 {
    font-size: 30px;
    font-weight: 300;
}

nav {
    width: 100%;
    height: 50px;
    border-bottom: 0.5px solid #B9B9B9;
}

a {
    text-decoration: none;
}

input {
    background-color: white;
    height: 40px;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    font-size: 17px;
    font-family: 'Baloo Paaji 2', cursive;
    border: 1px solid #B9B9B9;
    border-radius: 7px;
}

    input[type=checkbox] {
        width: 27px;
        height: 27px;
    }

table, th, td {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
}

table {
    width: 100%;
    margin: 10px auto;
}

th {
    border: none;
    height: 40px;
    border-bottom: 1px solid #B9B9B9;
    font-weight: 600;
    font-size: 17px;
}

tr {
    transition: 0.4s;
}

tr:hover {
    background-color: #eae9e9;
}


a:visited {
    text-decoration: none;
    color: black;
}

.navbar {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.navbar a {
    font-size: 20px;
    margin: auto 10px;
    line-height: 50px;
}

.nav-right {
    float: right;
}

.render-body {
    width: 80%;
    margin: 0 auto;
}

.box-selection {
    font-size: 20px;
    display: inline-block;
    margin: 20px 20px 20px 20px;
    border: 1px solid #B9B9B9;
    border-radius: 7px;
    width: 150px;
    height: 60px;
    text-align: center;
}

    .box-selection a {
        line-height: 60px;
    }

.edit-link img {
    height: 24px;
    vertical-align: middle;
}

.delete-link img {
    height: 22px;
    vertical-align: middle;
}

.button-left-container {
    float: right;
    margin: 55px 0 50px 0;
    text-align: left;
}

.button-left-container a {
    font-size: 20px;
    color: #262626;
    border: 1px solid #262626;
    border-radius: 7px;
    padding: 10px 20px;
}

.add-link-icon {
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.td-green {
    color: #27ae60;
}

.td-red {
    color: #c0392b;
}

.h1-subpage-title {
    float: left
}